.container {
    margin-left: 5rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .two {
    grid-column: 2 / 3;
    grid-row: 1;
  }
  .tree{
    grid-column: 3 / 3;
    grid-row: 1;
  }
  .imgC {
    width:300px;
    height:300px;
    border-radius:150px;
    border:10px solid #666;
}
.container2 {
  margin-left: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }
  .one2 {
    margin-left: 8rem;
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .two2 {
    margin-top: 7rem;
    grid-column: 2 / 2;
    grid-row: 1;
  }
  .card{
    width: 18rem;
  }
  .b{
    background: linear-gradient( to right, #708be6, #708be6);
  }