.contenedor {
    width: 100%;
    height: 120vh;
    background: black;
    margin-top: 10px;

}

.Foto {
    width: 25%;
    height: 40vh;
    border-radius: 50%;
    border: 2px solid white;
    margin-bottom: 10px;
    background-image: url(../../assets/imgJ/fot.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;

}

.cardPadre {
    width: 80%;
    display: flex;
    margin: 0 auto;

}

.cards {

    width: 30%;
    height: 49vh;
    background: white;
    margin-left: 10px;
    border-radius: 5%;
}

.mov {
    width: 100%;
    height: 10vh;
    background-color: blue;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    overflow: hidden;
}

.mov:hover {
    width: 100%;
    height: 45vh;
    top: 10%;
}

.t {
    text-align: center;
    color: white;
    margin-bottom: 10%;
}



.text {

    text-align: center;
    color: white;

}

.mm {
    margin-left: 12%;
    margin-top: 15%;
    width: 70%;


}