.econtainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-image: url("/src/assets/img/eli/ani.jpg");
}
  .tone {
    grid-column: 1 / 4;
    grid-row: 1;
  }
  .ttwo {
    grid-column: 2 / 4;
    grid-row: 1;
  }
  .ttree{
    grid-column: 3 / 4;
    grid-row: 1;
  }
  .tfour{
    grid-column: 4 / 4;
    grid-row: 1;
  }
  .timgp {
    width:300px;
    height:350px;
    border-radius:150px;
    margin-right: 50%;
    margin-top: 2rem;
  }

.econtainer2 {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    background-image: url("/src/assets/img/eli/ani.jpg");
}
  .tone2 {
    margin-left: 8rem;
    grid-column: 1 / 2;
    grid-row: 1;
  }
  .ttwo2 {
    margin-top: 7rem;
    grid-column: 2 / 2;
    grid-row: 1;
    font-family: 'Times New Roman', Times, serif;
  }

.t{
    color: aliceblue;
}