

.title{
    text-align: center;
    color: rgb(202, 47, 237);
    font-size: 1rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #120007;}


  .card-title{
    text-align: center;
    color: #4b1c71;
    font-size: 2rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 2 rem;
    width: 1 rem;}

  .cardd{
    margin: 1rem 0 0 0 ;
    color: rgb(212, 163, 234);
    border: 2px solid #120007;
    position: relative;
    background-color: #7843a4;}
